<%- include('header') -%>
    <h4><%= title %></h4>
    <p class="author">【作者】 <span><%= author %></span></p>
    <div class="poem-separater"></div>
    <ul>
      <% for(var i=0; i<pargrames.length; i++) {%>
         <li>       
            <p><%= pargrames[i] %></p>
         </li>
      <% } %>
    </ul>
<%- include('footer') -%>