<%- include('header') -%>
	<ul>
		<% for(var i=0; i<list.length; i++) {%>
		   <li>
		   		<p><a href='/article/<%= list[i]._id %>'><h4><%= list[i].title %></h4></a></a></p>
				<p><%= list[i].content %></p>
		   </li>
		<% } %>
	</ul>
 <%- include('footer') -%>